PORT=3000
MONGO_URI=your_mongodb_connection_string
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=your_esewa_secret_key
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
FRONTEND_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
EMAIL_USERNAME=shankar98470@gmail.com
EMAIL_PASSWORD=your_google_app_password
EMAIL_FROM="Bhoj Express <shankar98470@gmail.com>"
