PORT=3000
MONGO_URI=your_mongodb_connection_string
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=your_esewa_secret_key
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
FRONTEND_URL=http://localhost:5173
